/* * {
  outline: 1px solid green !important;
} */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}

.head {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-head {
  display: flex;
  align-items: center;
}
.burger-btn {
  display: none;
}
.nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
  align-items: center;
}
.logo-header {
  padding: 24px 0;
  margin-right: 76px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover {
  color: #404bbf;
}
.logo:active {
  color: #404bbf;
}
.studio-header {
  color: #2e2f42;
}
.studio-footer {
  color: #f4f4fd;
}
.menu-links {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-links-studio {
  /* padding-bottom: 20px; */
  position: relative;
  color: #404bbf;
}
.menu-links:hover {
  color: #404bbf;
}
.menu-links:active {
  color: #404bbf;
}
.menu-links:focus {
  color: #404bbf;
}
.menu-studio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-links-studio::after {
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-links {
  display: block;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-links:hover {
  color: #404bbf;
}
.contact-links:active {
  color: #404bbf;
}
.contact-links:focus {
  color: #404bbf;
}
/* header */
.section-hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button-hero {
  min-width: 169px;
  margin: 0 auto;
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover {
  background-color: #404bbf;
}
.button-hero:focus {
  background-color: #404bbf;
}
.button-hero:active {
  background-color: #404bbf;
}
/* menu-overlay=> */
.menu-overlay {
  display: none;
}
/* menu-overlay */
/* hero section 1 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
  display: flex;
  gap: 24px;
}
.about-list-item {
  width: calc((100% - (24px * 3)) / 4);
}
.about-icon-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
}
.about-mini-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.about-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* about section 2 */

.section-team {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  background-color: #ffffff;
  width: calc((100% - (24px * 3)) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-card-text {
  padding: 32px 0;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #f4f4fd;
}
.social-link:hover {
  background-color: #404bbf;
}
.social-link:focus {
  background-color: #404bbf;
}
/* section 3 team */

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}
.portfolio-list-item {
  background-color: #ffffff;
  width: calc((100% - (24px * 2)) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  transform: translateY(0%);
}
.portfolio-list-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.portfolio-card-img {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  font-size: 16px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-mini-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section 4 */
.container-footer {
  display: flex;
  align-items: baseline;
}
.footer-logo-text {
  margin-right: 120px;
}
.last-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: block;
  max-width: 264px;
}
.site-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.social-media-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.social-list-footer-item {
  width: 40px;
  height: 40px;
}
.social-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover {
  background-color: #31d0aa;
}
.social-link-footer:focus {
  background-color: #31d0aa;
}
.social-icon-footer {
  fill: #f4f4fd;
}
.social-list-footer {
  display: flex;
  gap: 16px;
}
/* Subscribe hw 5=> */
.subscribe {
  margin-left: 80px;
}
.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-email-textfield {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.subscribe-email-textfield::placeholder {
  color: #ffffff;
}
.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover {
  background-color: #404bbf;
}
.subscribe-button:focus {
  background-color: #404bbf;
}
.subscribe-icon {
  margin-left: 16px;
}
/* Subscribe hw 5 */
/* footer */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
label {
  padding: 0;
  margin: 0;
}
input {
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.modal-overlay {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  display: flex;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  max-width: 360px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  background-color: #404bbf;
  border: none;
}
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  fill: #2e2f42;
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .close-icon {
  fill: #fff;
}
.modal-button:focus .close-icon {
  fill: #fff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}
.modal-fieldes {
  margin-bottom: 8px;
}

.marker {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-fieldicon {
  position: relative;
  margin-bottom: 8px;
}
.marker-comment {
  margin-bottom: 16px;
}
.textfield {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 11px 38px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textfield:focus {
  border-color: #4d5ae5;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textfield:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-comment {
  margin-bottom: 16px;
}
.commentfield {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.commentfield:focus {
  border-color: #4d5ae5;
}
.checkboxfield {
  margin-bottom: 24px;
}
.marker-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.checkbox:checked + .marker-checkbox .check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-link {
  color: #4d5ae5;
}
.send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.send-button:hover {
  background-color: #404bbf;
}
.send-button:focus {
  background-color: #404bbf;
}
/* modal window */

/* adaptive styles=> */
@media (max-width: 1158px) {
  .logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  /* header=> */
  .container {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 16px;
  }
  .container-head {
    height: 72px;
    align-items: flex-end;
  }

  .logo-header {
    margin-right: 120px;
    padding: 0;
    align-self: flex-start;
  }
  .menu-links {
    padding-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transform: translateY(-16px);
  }
  .contact-links {
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
  }
  /* header */
  /* section 1 hero=> */
  .section-hero {
    height: 436px;
    padding: 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg@1x.jpg);
    max-width: 100%;
  }
  .container-hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 112px;
    padding-bottom: 112px; */
  }
  .hero-title {
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .button-hero {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
  /* section 1 hero */
  /* section 2 about=> */
  .about {
    padding: 0;
  }
  .container-about {
    padding: 96px 16px;
  }
  .about-icon-container {
    display: none;
  }
  .about-list {
    flex-wrap: wrap;
    row-gap: 72px;
  }
  .about-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .about-mini-titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
  }
  .about-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* section 2 about */
  /* section 3 Team=> */
  .section-team {
    padding: 0 108px;
  }
  .container-team {
    padding: 96px 0;
  }
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .team-list {
    flex-wrap: wrap;
    row-gap: 64px;
  }
  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .team-photo {
    margin: 0 auto;
  }
  .team-card-text {
    padding: 32px 16px;
  }
  .team-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* section 3 Team */
  /* section 4 portfolio=>*/
  .section-portfolio {
    padding: 0;
  }
  .container-portfolio {
    padding: 96px 16px;
  }
  .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
  }
  .portfolio-list {
    flex-wrap: wrap;
    row-gap: 72px;
  }
  .portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .portfolio-mini-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* section 4 portfolio */
  /* footer=> */
  .site-footer {
    padding: 0;
  }
  .container-footer {
    padding: 96px 0;
    padding-left: 108px;
  }
  .footer-logo-text {
    margin-bottom: 72px;
    margin-right: 24px;
  }
  .last-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .social-list-footer {
    gap: 18px;
  }
  .subscribe {
    margin: 0;
  }
  .subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .subscribe-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
  /* footer */
  /* modal window=> */
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* modal window */
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 16px;
  }
  .container-head {
    height: 56px;
    position: relative;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
  }
  .menu-items {
    display: none;
  }
  .contacts-list {
    display: none;
  }
  .nav {
    padding: 0;
  }
  .logo-header {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 16px;
    left: 16px;
  }
  .studio-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  /* burger=> */
  /* .burger-marker {
    display: block;
    cursor: pointer;
  }
  .burger-icon-box {
    width: 24px;
    height: 24px;
    cursor: pointer;
    overflow: visible;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */
  .burger-icon {
    fill: #2e2f42;
    width: 100%;
    height: 100%;
  }
  .burger-btn {
    display: block;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
  }

  /* .burger-marker:checked + .burger-icon-box .burger-icon {
    fill: #ffffff;
  } */
  /* burger */
  /* menu-overlay=> */
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    padding: 72px 24px 40px 16px;
  }
  .menu-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
  }
  .menu-button {
    top: 24px;
    right: 24px;
  }
  .menu.menu-overlay-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }
  .menu-items.menu-studio.menu-overlay-items.menu-overlay-studio {
    display: block;
  }
  .menu-links.menu-overlay-links {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    padding: 0;
  }
  .menu-links.menu-overlay-links::after {
    display: none;
  }
  .menu-items.menu-overlay-items {
    display: block;
  }
  .menu-overlay-contacts-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .contacts.menu-overlay-contacts {
    padding: 0;
    margin: 0;
  }
  .contacts-list.menu-overlay-contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    margin: 0;
  }

  .contact-links.menu-overlay-contact-links {
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
  }
  .contact-links.menu-overlay-contact-links.telephone {
    color: #4d5ae5;
  }
  .social-list.menu-overlay-social-list {
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  /* menu-overlay */
  /* header */
  /* section 1 hero=> */
  .section-hero {
    height: 432px;
    padding: 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg@2x.jpg);
    max-width: 100%;
  }
  .container-hero {
    height: 100%;
    padding: 72px 52px;
  }
  .hero-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
  }
  .button-hero {
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 0;
  }
  /* section 1 hero */
  /* section 2 about=> */
  .about-icon-container {
    display: none;
  }
  .about-list {
    flex-wrap: wrap;
    gap: 72px;
  }
  .about-list-item {
    flex-basis: 100%;
  }
  .about {
    padding: 0;
  }
  .container-about {
    padding: 96px 16px;
  }

  .about-mini-titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .about-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* section 2 about */
  /* section 3 Team=> */
  .team-list {
    flex-wrap: wrap;
    gap: 72px;
  }
  .team-list-item {
    flex-basis: 100%;
  }
  .section-team {
    padding: 0;
  }
  .container-team {
    padding: 96px 28px;
  }
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
  }
  .team-photo {
    margin: 0 auto;
  }
  .team-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* section 3 Team */
  /* section 4 portfolio=>*/
  .section-portfolio {
    padding: 0;
  }
  .container-portfolio {
    padding: 96px 16px;
  }
  .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
  }

  .portfolio-list {
    flex-wrap: wrap;
  }
  .portfolio-list-item {
    flex-basis: 100%;
  }
  .portfolio-mini-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .portfolio-photo {
    margin: 0 auto;
  }
  /* section 4 portfolio */
  /* footer=> */
  .site-footer {
    padding: 0;
  }
  .container-footer {
    padding: 96px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
  .footer-logo-text {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 72px;
  }
  .logo-footer {
    display: flex;
    justify-self: center;
  }
  .last-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .footer-contacts {
    margin: 0 auto;
    margin-bottom: 72px;
  }
  .social-media-text {
    justify-self: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .subscribe {
    margin: 0 auto;
  }
  .subscribe-text {
    justify-self: center;
  }
  .subscribe-form {
    flex-direction: column;
    gap: 16px;
  }
  .subscribe-email-textfield {
    height: 40px;
  }
  .subscribe-button {
    width: 165px;
    height: 40px;
    margin: 0 auto;
  }
  /* footer */
  /* modal window */
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px);
    height: 623px;
    padding: 72px 16px 24px 16px;
  }
  .modal-form {
    margin: 0 auto;
  }
  .modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .marker {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    /* modal window */
  }
  .commentfield::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    opacity: 0.5;
  }
  .checkboxfield {
    position: relative;
    padding-left: 24px;
  }
  .check {
    margin-right: 7.5px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
  }
  .marker-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
  }
  .privacy-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

/* adaptive styles */
